.theatre-seat-box {
  width: calc(50% /6); /* Each seat box takes 10% of the row */
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  background-color: whitesmoke;
}
.theatre-seat-box.selected {
  background-color: red;
}
.theatre-seat-box:hover{
background-color: green;
}
.gap {
  width: calc(10% - 80px);  
  cursor: default; 
}

.theatre-seat-row {
  margin-bottom: 10px;
  text-align: center; 
}

.price {
  margin-top: 15px;
}

.seat-booking {
  max-width: 800px; 
  margin: 0 auto;
  padding: 2px;
}
#total-price,#seat-number {
  font-weight: bold;
}

.center-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
